@import "../../theme/variables";

.form {
  border-bottom: 1px solid $color-white;
  margin: 10px 0;
  padding: 5px;
}
.error {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 0.25rem;
  width: 100%;
}
